<h2>Your Groceries!</h2>
<br>

<ol type="1">
  <% @items.each do |item| %>
    <li><a href="/items/<%=item.id%>"><%= item.content %></a></li>
  <% end %>
</ol>

<br>
<hr>

<footer>
  <br>
  <a href="/items/new">Add An Item</a>
  <br>
</footer>