<h2>New Grocery Item</h2>
<h3>Instructions: </h3>
<p>To create a new item, type below and click Submit!</p>
<form action='/items' method="post">
  <input type="text" name="content">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
