<h2>Grocery Item</h2>
<br>
<p><%= @item.content %></p>
<hr> 

<h4>Options</h4>
<form action="/items/<%= @item.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete" style="width: 70px; font-size:70px">
</form>

<form action="/items/<%= @item.id %>/edit" method="get">
  <input type="submit" value="Edit" style="width: 70px; font-size:70px">
</form>

<form action="/items" method="get">
  <input type="submit" value="Your Grocery List" style="width: 70px; font-size:70px">
</form>