<h2>Grocery Item</h2>
<br>
<p><%= @item.content %></p>
<hr> 

<form action="/items/<%= @item.id %>" method="POST">
  <br>
  <h4>OPTIONS</h4>
  <br>
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="submit" value="DELETE" style="width: 70px; font-size:70px">
  <br>
  <br>
  <a href="/items/<%= @item.id %>/edit">Edit Item</a>
  <br>
  <br>
  <a href="/items">Your Grocery List</a>
</form>