<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Grocery List</h2>

    <div class="content">
    <p class="b">Welcome to Grocery List! Sign Up or Login to interact with your personal grocery list so you can get started on picking them up right away.</p>
      <br>
      <p>If you have already signed up, just login to see your current list, or to make changes like adding or deleting different grocery items!</p>
      <br>
     </div>

    <div class="sidebar">
      <h3>Menu</h3>
      <ul>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>

  </div>
</div>
